body,html{
  padding: 0;
  margin: 0;
  background:#111111;
  color:white;
  font-size:20px;
  line-height: 1.55;
  font-family: "Nitti Grotesk",  -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a{
  color:#D7D7D7;
}
h1{
  font-size: 24px;
  margin-top: 60px;
  line-height: 35px;
  font-family: "ff-meta-serif-web-pro";
}

p{
  margin-top: 0;
  margin-bottom: 18px;
  color:#D7D7D7;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.about-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 0 15px;

}
.portrait-image{
  background: url('./images/portrait.jpg') no-repeat center right;
  background-size: cover;
  padding-top: 120%;
  margin-left: 15px;

}

img{
  max-width: 100%;
}

@media ( min-width : 640px ) {
  .top-section{
    flex-direction: row;
  }
  .about-text{
    flex:4;
    padding: 0 30px;

  }
  .portrait-image{
    flex:3;
    padding-top: 0;
    margin-left: 0;
  }
  h1{
    font-size: 24px;
    margin-top: 60px;
    margin-right: -35%;
  }
  p{
    font-size: 18px;
  }
}
@media ( min-width : 1024px ) {
  .portrait-image, .about-text{
    flex:1;
  }
  h1{
    max-width: 730px;
    margin-right:-150px;
    font-size: 34px;
    line-height: 49px;
    margin-bottom: 58px;
    margin-top: 20%;
  }
  .detail-text{
    margin-right: 100px;
    max-width: 480px;
  }
  p{
    font-size: 20px;
  }
}